<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head'); %>
    </head>    
        
    
    <body>
        
            <!-- Navbar End -->
            <%- include('./partials/header'); %>
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-50 bg-secondary rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center mb-20">
                        <h1 class="text-warning mt-20"></h1>
                        <h3>NHF Consortium Dashboard</h3>
                        <h6>This Dashboard Measures level of indicators accross the project components</h6>
                    </div>
                </div>
            </div>
            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">CP Case management</h6>
                            <canvas id="worldwide-sales1"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Education Components</h6>
                            <canvas id="salse-revenue1"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Nutrition</h6>
                            <canvas id="bar-chart1"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Performance Indicator</h6>
                            <canvas id="line-chart1"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Reached Segregation by Gender</h6>
                            <canvas id="pie-chart1"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Befiniciary Category</h6>
                            <canvas id="doughnut-chart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chart End -->


            <!-- Footer Start -->
            <%- include('./partials/footer'); %>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>
<script>
    $(document).ready(() => {
        $.ajax({
          type: 'GET',
          url: '/api/v1/get-indicators',
          dataType: 'json',
          beforeSend: () => {
            $('#feedbackmessage').html(`<div class="alert alert-info">Fetching Chart data...</div>`);
          },
          success: (data) => {
            const detailsData = data.data;
            console.log(detailsData);
            $('#totalBoys').html(`${detailsData.total_boys[0].total_boys}`);
            $('#totalGirls').html(`${detailsData.total_girls[0].total_girls}`);
            $('#totalCaregivers').html(`${detailsData.total_females[0].total_females}`);
            $('#totalReached').html(`${detailsData.reached[0].total_reached}`);
            $('#totalPWD').html(`${detailsData.total_pwds[0].total_pwds}`);

            var ctx1 = $("#worldwide-sales1").get(0).getContext("2d");
            var myChart1 = new Chart(ctx1, {
                type: "bar",
                data: {
                    labels: ["Case management"],
                    datasets: [{
                            label: "Target",
                            data: [detailsData.target[0].total_target],
                            backgroundColor: "rgba(235, 22, 22, .7)"
                        },
                        {
                            label: "Reached, ",
                            data: [detailsData.reached[0].total_reached],
                            backgroundColor: "rgba(235, 22, 22, .5)"
                        }
                        
                    ]
                    },
                options: {
                    responsive: true
                }
            });

            var ctx3 = $("#salse-revenue1").get(0).getContext("2d");
            var myChart3 = new Chart(ctx3, {
                type: "line",
                data: {
                    labels: ["Children Reached Segeration by Gender", "Total number of caregivers Reached"],
                    datasets: [{
                            label: "Boys and Girls Reached",
                            data: [detailsData.total_girls[0].total_girls, detailsData.total_boys[0].total_boys],
                            backgroundColor: "rgba(235, 22, 22, .7)",
                            fill: true
                        },
                        {
                            label: "Male and Females caregiver Reached",
                            data: [detailsData.total_females[0].total_females, detailsData.total_males[0].total_males],
                            backgroundColor: "rgba(235, 22, 22, .5)",
                            fill: true
                        }
                    ]
                    },
                options: {
                    responsive: true
                }
            });
            var ctx2 = $("#bar-chart1").get(0).getContext("2d");
            var myChart2 = new Chart(ctx2, {
                type: "polarArea",
                data: {
                    labels: ["Children Reached Segeration by Gender", "Total number of caregivers Reached"],
                    datasets: [{
                            label: "Boys and Girls Reached",
                            data: [detailsData.total_girls[0].total_girls, detailsData.total_boys[0].total_boys],
                            backgroundColor: "rgba(235, 22, 22, .7)",
                            fill: true
                        },
                        {
                            label: "Male and Females caregiver Reached",
                            data: [detailsData.total_females[0].total_females, detailsData.total_males[0].total_males],
                            backgroundColor: "rgba(235, 22, 22, .5)",
                            fill: true
                        }
                    ]
                    },
                options: {
                    responsive: true
                }
            });
     
           
          },
          error: (jqXHR,textStatus,errorThrown) => {
            console.log(errorThrown);
            return;
          },
          complete: () => {
            $('#feedbackmessage').html(``);
           
          }
        });
        
    })
    
</script>

</html>